.selection-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.selection-container > .rectangle-selection-box {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.12);
  position: absolute;
  z-index: 1000;
  box-sizing: border-box;
}
